.font-gradient {
   background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #33A8DB;
}

.banner {
   background-image: url("../img/background-code.png");
   width: 100%;
   height: 605px;
   width: 100%;
   height: 605px;
   border-bottom: 1px solid rgba(51, 168, 219, 1);
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;

   margin-left: auto;
   margin-right: auto;

   top: 56px;
   max-width: 510px;
   max-height: 393px;
}

.banner-content .logo {
   max-width: 268px;
   max-height: 268px;
   background-color: #121618;
   border-radius: 50%;
}

.banner-content .logo > img {
   width: 248px;
   height: 214px;
   display: flex;
   margin: auto;
}

.banner-content p {
   line-height: 23px;
   letter-spacing: 0em;
   text-align: center;
   max-width: 100%;
}

.banner-content button {
   width: 326px;
   height: 57px;
   background-color: transparent;

   border-image: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%) 1;
   border-width: 2px;
   border-style: solid;

   font-size: 16px;
   font-weight: 900;
   line-height: 19px;
   letter-spacing: 0.21em;
   text-align: center;
   text-transform: uppercase;
   color: rgba(49, 168, 221, 1);
   cursor: pointer;
}

#course-content {
   width: 792px;
   display: flex;
   flex-direction: column;
   gap: 24px;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}

#course-content h2 {
   text-align: left;
}

.modules-list {
   margin-top: 10px;
}

.modules-list .module,  .modules-list .module span {
   font-size: 16px;
   font-weight: 400;
   line-height: 18.78px;
   letter-spacing: 0em;
   text-align: left;
}

.modules-list .module {
   width: 535px;
   height: 51px;
   border: 1px solid #33A8DB;
   border-radius: 57px;
   box-shadow: -2px 6px 4px 0px #201f1f66 inset;
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   color: #FFF;
   cursor: pointer;
}

.modules-list .module span {
   color: #33A8DB;
}

#transform-world {
   margin-top: 40px;
   width: 100%;
   background-image: url("../img/tecnologia.png");
   border-top: 1px solid #33A8DB;
   border-bottom: 1px solid #33A8DB;
   height: 363px;
   position: relative;
}

#transform-world p {
   font-size: 40px;
   line-height: 46.96px;
   font-weight: 900;
   position: absolute;
   width: 244px;
   height: 141px;
   top: 30%;
   left: 15%;
   text-shadow: #33A8DB 3px 2px 0px;
}

#professional-challenges {
   width: 793px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 70px;
}

#professional-challenges h2 {
   text-align: center;
}

#professional-challenges img {
   margin-top: 20px;
   margin-bottom: 20px;
}

#professional-challenges p {
   text-align: center;
}

footer {
   width: 100%;
   height: 170px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 80px;
   border-top: 1px solid #33A8DB;
}

footer img {
   width: 310px;
   height: 44px;
   margin-top: 50px;
   margin-bottom: 10px;
}

footer p {
   text-align: center;
}

footer p > a {
   color: #33A8DB;
   cursor: pointer;
}



